<?xml version="1.0" encoding="utf-8"?><!--
     Copyright (C) 2014 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cw.photolist">

    <permission
        android:name="${applicationId}.ACCESS_PHOTO_DATA"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.ACCESS_PHOTO_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"-->
<!--        tools:ignore="ScopedStorage" /> &lt;!&ndash; >= API 30 &ndash;&gt;-->

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Leanback"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"> <!-- API 29 -->

        <activity
            android:name="com.cw.photolist.ui.MainActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Leanback.Browse.New"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cw.photolist.ui.ScanLocalAct"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Leanback.Browse.New"
            android:exported="true">
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.PhotoDetailsActivity" />

        <activity
            android:name="com.cw.photolist.ui.PhotoDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback.Details">

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component -->
            </intent-filter>

        </activity>
        <activity
            android:name="com.cw.photolist.ui.options.browse_category.BrowseCategoryActivity"
            android:exported="true"
            android:parentActivityName="com.cw.photolist.ui.MainActivity"
            android:theme="@style/Theme.Leanback.VerticalGrid" />
        <activity
            android:name="com.cw.photolist.ui.options.select_category.SelectCategoryActivity"
            android:exported="true"
            android:parentActivityName="com.cw.photolist.ui.MainActivity"
            android:theme="@style/Theme.Leanback.VerticalGrid" />
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.cw.photolist.ui.options.browse_category.SearchActivity" />

        <activity android:name=".ui.photo.PhotoAct"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
        </activity>

        <provider
            android:name="com.cw.photolist.data.PhotoProvider"
            android:authorities="${packageName}"
            android:exported="true"
            android:permission="${applicationId}.ACCESS_PHOTO_DATA">
            <path-permission
                android:pathPrefix="/search"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

        <!-- notice: don't expose the key/values -->
        <meta-data
            android:name = "key_DEVELOPER_KEY"
            android:value = ""/>
        <meta-data
            android:name = "key_SHA1"
            android:value = ""/>

        <activity
            android:name="com.cw.photolist.ui.options.setting.SettingsActivity"
            android:exported="true"
            android:theme="@style/LeanbackPreferences" />
    </application>

</manifest>